<div class="d-flex <%= !is_start_of_week_beginning_of_week? ? 'justify-content-between' : 'justify-content-end' %> ">
  <% if !is_start_of_week_beginning_of_week? %>
    <a id="last" href="<%= root_path start_of_week: last_week_date_text %>" class="text-decoration-none text-dark"><%= fa_icon "chevron-left", class: "me-2" %>Last week</a>
  <% end %>
  <a id="next" href="<%= root_path start_of_week: next_week_date_text %>" class="text-decoration-none text-dark">Next week<%= fa_icon "chevron-right", class: "ms-2" %></a>
</div>
